@font-face {
  font-family: Futura;
  src: url(./assets/fonts/Futura-Book-font.ttf);
}

@font-face {
  font-family: FuturaLight;
  src: url(./assets/fonts/futura-light-bt.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Futura', 'FuturaLight', 'Didact Gothic','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
